---
layout: default
---
<section class="meta">
<span class="time">
  <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
</span>
{% if page.categories.size != 0 %}
 | 
<span class="categories">
  分类
  {% for cat in page.categories %}
  <a href="/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}
{% if page.tags.size != 0 %}
 | 
<span class="tags">
  标签
  {% for tag in page.tags %}
  <a href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}
</section>
<section id="toc-section"></section>
<section class="post" id="post_content">
{{ content }}
</br>
<a href="{{ site.url }}{{ page.url }}"  style="font-size: 14px;">转载请注明出处--BeanMr.代码作坊<br>{{ site.url }}{{ page.url }}</a><a href="http://creativecommons.org/licenses/by-sa/3.0/cn/" style="float:right" rel="license"><img src="https://i.creativecommons.org/l/by-sa/3.0/cn/80x15.png" style="border-width:0" alt="知识共享许可协议"></a>
</section>
<section align="right">
<br/>
<span>
	<a {% if page.previous %} href="{{ page.previous.url }}" class="pageNav"{% endif %} {% unless page.previous %} class="pageNavInvalid" {% endunless %} >上一篇</a>
	&nbsp;&nbsp;&nbsp;
	<a {% if page.next %} href="{{ page.next.url }}" class="pageNav"{% endif %} {% unless page.next %} class="pageNavInvalid" {% endunless %} >下一篇</a>
</span>
</section>
{% include comments.md %}
<script type="text/javascript">
$('#post_content').toc({
  anchorPrefix:'tocAnchor-',
  contentsText:'Contents',
  showText:'Expand TOC',
  hideText:'hide',
  showAlways:false,
  saveShowStatus:false
});
</script>
