---
layout: default
styles: post.css
scripts: [toc.js,post.js]
---
<div class="row">
    <div class="content col-lg-9">
        <div class="sheet post">
          <header>
            <h2>{{ page.title }}</h2>
            <p class="post-meta">
                <span class="octicon octicon-clock"></span> {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
            </p>
            <p class="post-tag">
                <span>{% for cat in page.categories %}<a href="{{ '/category' | prepend: site.baseurl | prepend: site.url }}/#{{ cat }}"><span class="octicon octicon-list-unordered"></span>&nbsp;{{ cat }}</a>{% endfor %}</span>
                <span>{% for tag in page.tags %}
                    <a class="word-keep" href="{{ '/tags' | prepend: site.baseurl | prepend: site.url }}/#{{ tag }}"><span class="octicon octicon-tag"></span>&nbsp;{{ tag }}</a>
                    {% endfor %}
                </span>
            </p>
          </header>
          <hr class="boundary">
          <article>
            {{content}}
            <blockquote>
            <p>本文采用<a href="http://creativecommons.org/licenses/by-sa/3.0/cn/">CC BY-SA</a>许可发布，您可以自由的转载分享。</p>
            <p>转载请保留出处 BeanMr. <br/><a href="{{ page.url | prepend: site.baseurl | prepend: site.publish_url }}">{{ page.url | prepend: site.baseurl | prepend: site.publish_url }}</a></p>
            </blockquote>
          </article>
          <hr class="boundary">
            {% include share.html %}
        </div>
        <div class="pad-min"></div>
        <div id="post-comment" class="sheet post">
            {% if page.thread %}
            <div class="ds-thread" data-thread-key="{{ page.thread }}" data-url="{{ site.publish_url }}{{ page.url }}" data-title="{{ page.title }}" ></div>
            {% else %}
            <div class="ds-thread" data-thread-key="{{ page.title }}" data-url="{{ site.publish_url }}{{ page.url }}" data-title="{{ page.title }}"></div>
            {% endif %} 
        </div>
    </div>
    <div class="content-navigation col-lg-3">
      <div class="shadow-bottom-center" >
        <div class="content-navigation-toc">
            <div class="content-navigation-header">
                <span class="octicon octicon-list-unordered"></span>&nbsp;Toc
            </div>
            <div class="content-navigation-list toc"></div>
        </div>
        <div class="content-navigation-tag">
            <div class="content-navigation-header">
                <span class="octicon octicon-list-unordered"></span>&nbsp;Tags
            </div>
            <div class="content-navigation-list">
                <ul>
                    {% for tag in page.tags %}
                    <li>
                        <a href="{{ '/tags' | prepend: site.baseurl | prepend: site.url }}#{{ tag }}"><span class="octicon octicon-tag"></span>&nbsp;{{ tag }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="content-navigation-related">
            <div class="content-navigation-header">
                <span class="octicon octicon-list-unordered"></span>&nbsp;Related
            </div>
            <div class="content-navigation-list">
                <ul>
                    {% assign postsAfterFilter = '-' | split: "-" %}

                    {% for p in site.posts %}
                        {%if p.url != page.url %}
                            {% assign commonTagCount = 0 %}

                            {% for tag in p.tags %}
                                {% if page.tags contains tag %}
                                    {% assign commonTagCount = commonTagCount | plus: 1 %}
                                {% endif %}
                            {% endfor %}

                            {% for cat in p.categories %}
                                {% if page.categories contains cat %}
                                    {% assign commonTagCount = commonTagCount | plus: 1 %}
                                {% endif %}
                            {% endfor %}

                            {% if commonTagCount > 0 %}
                                {% assign postsAfterFilter = postsAfterFilter | push: p %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if postsAfterFilter.size > 0 %}
                        {% for p in postsAfterFilter limit: 15 %}
                            <li>
                                <a href="{{ p.url | prepend: site.baseurl | prepend: site.url }}">{{ p.title }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
      </div>
    </div>
</div>